<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer {
            background-image: linear-gradient(#CDF5FD, #000000);
            color: #fff;
            text-align: center;
            padding: 20px;
            padding-top: 25px;
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <footer>
        <p>&copy; 2024 NutriVerse. All rights reserved.</p>
    </footer>    
</body>
</html>